:host {
    margin-top: 1rem;
    width: 70vw;
    min-height: 10vh;
    border-radius: 1rem;
    overflow-x: hidden;
    box-shadow: 2px 3px .7rem black;
    color: #c5c6c7;
}

.section-title{
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-top: .5rem;
    color: #66FCF1;
    font-weight: bold;
}

#about-me-info{
    font-size: 1.1rem;
    text-align: justify;
    margin: .5rem 1rem 1rem 1rem;
}