:host {
    margin-top: .5rem;
    width: 98vw;
    min-height: 50vh;
    border: 1px solid grey;
    border-radius: .3rem;
    overflow-x: hidden;
}

#banner {
    width: 100vw;
    height: 25vh;
}

#profile-img {
    position: relative;
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
    margin-top: -15vh;
    margin-left: 1%;
}

.basic-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#name {
    font-size: 1.75rem;
}

#description,
#location {
    font-size: 1.1rem;
    margin-top: 1rem;
}

#work-info,
#education-info {
    text-align: left;
    font-size: 1.3rem;
}

#education-img,
#work-img {
    width: 10vh;
    height: 10vh;
}

.profesional-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.work,
.education {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profesional-info img{
    margin-right: 1rem;
}