<img id="banner" src="../../../assets/images/bannerTest.jpg" alt="">
<img id="profile-img" src="../../../assets/images/profileTest.jpg" alt="">
<div class="basic-info">
    <div class="info">
        <h1 id="name">Tiago A. Ramirez M.</h1>
        <h2 id="description">FullStack Developer</h2>
        <h2 id="location">Capital Federal (Argentina)</h2>
    </div>
    <div class="profesional-info">
        <div class="work">
            <img id="work-img" src="../../../assets/images/accusysLogoTest.jfif" alt="">
            <h2 id="work-info">Accusys</h2>
        </div>
        <div class="education">
            <img id="education-img" src="../../../assets/images/LogoUTNTest.png" alt="">
            <h2 id="education-info">U.T.N. - F.R.B.A.</h2>
        </div>
    </div>
</div>

