<p class="section-title">Proyecto - Editar</p>

<form #f="ngForm" (ngSubmit)="save()" *ngIf="!loadingProject && !loadingDescription">
    <div>
        <label for="name">Nombre del proyecto</label>
        <input name="name" type="text" placeholder="Nombre del proyecto" [(ngModel)]="project.name" maxlength="50"
            required>
        <p *ngIf="project.name.length>40">{{project.name.length}}/50</p>
    </div>
    <div>
        <label for="link">Link</label>
        <input name="link" type="text" placeholder="Link" [(ngModel)]="project.link" maxlength="255" required>
        <p *ngIf="project.link.length>200">{{project.link.length}}/255</p>
    </div>
    <div>
        <label for="description">Descripcion</label>
        <textarea name="description" type="text" placeholder="Descripcion" maxlength="255"
            [(ngModel)]="description.description"></textarea>
        <p *ngIf="description.description.length>200">{{description.description.length}}/255</p>
    </div>

    <p class="error-message" *ngIf="!loadingNewData && isErrorLoadingNewData">{{errorMessageLoadingNewData}}</p>

    <button *ngIf="!loadingNewData" class="large-button" type="submit" [disabled]="!f.valid"><i
            class="bi bi-save"></i>&nbsp;Guardar</button>

    <span *ngIf="loadingNewData" class="loader"></span>
</form>

<button type="button" [routerLink]="['/'+username]" class="large-button go-back"><i
        class="bi bi-box-arrow-left"></i>&nbsp;VOLVER</button>