:host {
    margin-top: 1rem;
    width: 70vw;
    min-height: 40vh;
    border-radius: 1rem;
    overflow-x: hidden;
    box-shadow: 2px 3px .7rem #000;
    color: #c5c6c7;
}

#banner {
    width: 100%;
    height: 25vh;
}

#profile-img {
    position: relative;
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
    margin-top: -13vh;
    margin-left: 1%;
}

.basic-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#name {
    font-size: 1.8rem;
    font-weight: bold;
    color: #66FCF1;
}

#description,
#location {
    font-size: 1.1rem;
    margin-top: 1rem;
}

#work-info,
#education-info {
    text-align: left;
    font-size: 1.1rem;
}

.work,
.education {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.work {
    margin-bottom: 1rem;
}

#education-img,
#work-img {
    height: 7vh;
    width: auto;
    border-radius: 50%;
}

.profesional-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.profesional-info img {
    margin-right: 1rem;
}