:host {
    width: 100vw;
    height: 3rem;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    margin-right: .5rem;
    width: 20vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.buttons a {
    text-decoration: none;
    color: grey;
    font-size: 1.2rem;
}

#login {
    color: green;
    padding-left: .3rem;
    padding-right: .3rem;
    background-color: black;
    border: 2px solid green;
    border-radius: 1.5rem;
    font-size: 1.1rem;
}

#login:hover {
    color: black;
    background-color: green;
    cursor: pointer;
}

.buttons a:hover{
    color: white;
}

#header-name {
    margin-left: .5rem;
    font-size: 1.25rem;
}