<h1 id="title">DATOS PERFIL</h1>

<div class="inputs">
    <div class="full_name">
        <label>Nombre completo: * </label>
        <input type="text" placeholder="Nombre completo">
    </div>
    <div class="birthday">
        <label>Nacimiento: </label>
        <input type="date">
    </div>
    <div class="phone">
        <label>Telefono: </label>
        <input type="number" placeholder="Telefono">
    </div>
    <div class="mail">
        <label>Mail: * </label>
        <input type="text" placeholder="Mail">
    </div>
    <div class="description">
        <label>Descripcion: * </label>
        <input type="text" placeholder="Descripcion">
    </div>
    <div class="location_state">
        <label>Estado/Provincia: </label>
        <input type="text" placeholder="Estado/Provincia">
    </div>
    <div class="location_country">
        <label>Pais: </label>
        <input type="text" placeholder="Pais">
    </div>
    <div class="photo">
        <label>Foto de perfil: </label>
        <input type="file" accept="image/*">
    </div>
    <div class="banner">
        <label>Fondo: </label>
        <input type="file" accept="image/*">
    </div>
    <button class="save"><i class="bi bi-save"></i> Guardar</button>
</div>

<a [routerLink]="['']" class="go-back"><i class="bi bi-box-arrow-left"></i>&nbsp;VOLVER</a>