<p class="section-title">SKILLS</p>

<span *ngIf="loading" class="loader"></span>

<p class="error-message" *ngIf="isError && !loading">{{errorMessage}}</p>

<p class="error-message" *ngIf="!loading && !isError && isEmpty">{{emptyMessage}}</p>

<div *ngFor="let skill of skills" class="skill">
    <p id="name">{{skill.skill.name}} ({{skill.percentage}}%)</p>
    <p>{{skill.skill.type}}</p>
    <div class="actions">
        <button class="circular-button" [routerLink]="['../delete/'+skill.id]"><i class="bi bi-trash3"></i></button>
        <button class="circular-button" [routerLink]="['../edit/'+skill.id]"><i
                class="bi bi-pencil-square"></i></button>
    </div>
</div>

<button type="button" routerLink="../add" class="circular-button create"><i
        class="bi bi-plus-circle-dotted"></i></button>

<button type="button" [routerLink]="['/'+username]" class="large-button go-back"><i
        class="bi bi-box-arrow-left"></i>&nbsp;VOLVER</button>