<p class="section-title">Educacion - Crear</p>

<form #f="ngForm" (ngSubmit)="save()">
    <div>
        <label for="type">Tipo</label>
        <select name="type" [(ngModel)]="education.type" required>
            <option value="Secundario">Secundario</option>
            <option value="Terciario">Terciario</option>
            <option value="Universitario">Universitario</option>
            <option value="Postgrado">Postgrado</option>
        </select>
    </div>
    <div>
        <label for="title_name">Titulo</label>
        <input name="title_name" type="text" placeholder="Titulo" maxlength="50" [(ngModel)]="education.title_name"
            required>
        <p *ngIf="education.title_name.length>40">{{education.title_name.length}}/50</p>
    </div>
    <div>
        <label for="institute_name">Nombre del instituto</label>
        <input name="institute_name" type="text" placeholder="Nombre del instituto" maxlength="50"
            [(ngModel)]="education.institute_name" required>
        <p *ngIf="education.institute_name.length>40">{{education.institute_name.length}}/50</p>
    </div>
    <div>
        <label for="isActual">Actual</label>
        <input name="isActual" type="checkbox" [(ngModel)]="education.isActual">
    </div>
    <div>
        <label for="startMonth startYear">Fecha de Inicio</label>
        <div class="date-inputs">
            <input type="number" max="12" min="1" name="startMonth" id="startMonth" [(ngModel)]="startMonth"
                placeholder="Mes" required>
            <input type="number" [max]="actualYear" min="1900" name="startYear" id="startYear" [(ngModel)]="startYear"
                placeholder="Anio" required>
        </div>
    </div>
    <div *ngIf="!education.isActual">
        <label for="endMonth endYear">Fecha de Fin</label>
        <div class="date-inputs">
            <input type="number" max="12" min="1" name="endMonth" id="endMonth" [(ngModel)]="endMonth" placeholder="Mes"
                required>
            <input type="number" [max]="actualYear" min="1900" name="endYear" id="endYear" [(ngModel)]="endYear"
                placeholder="Anio" required>
        </div>
    </div>
    <div>
        <label for="description">Descripcion</label>
        <textarea name="description" type="text" placeholder="Descripcion" maxlength="255"
            [(ngModel)]="description.description"></textarea>
        <p *ngIf="description.description.length>200">{{description.description.length}}/255</p>
    </div>

    <button *ngIf="!loadingNewData" class="large-button" type="submit" [disabled]="!f.valid"><i
            class="bi bi-save"></i>&nbsp;Guardar</button>

    <span *ngIf="loadingNewData" class="loader"></span>

    <p *ngIf="!loadingNewData && isErrorLoadingNewData" class="server-error">{{errorMessageLoadingNewData}}</p>
</form>

<button type="button" [routerLink]="['/'+username]" class="large-button go-back"><i
        class="bi bi-box-arrow-left"></i>&nbsp;VOLVER</button>