:host {
    width: 70vw;
    min-height: 20vh;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 2px 3px .7rem #000;
    color: #c5c6c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.banner {
    width: 100%;
    height: 30vh;
}

.banner img {
    width: 100%;
    height: 100%;
}

.photo-banner {
    margin-top: -15vh;
    border-radius: 50%;
    overflow: hidden;
    width: 20vh;
    height: 20vh;
}

.photo-no-banner {
    margin-top: 1vh;
    border-radius: 50%;
    overflow: hidden;
    width: 20vh;
    height: 20vh;
}

.photo-banner img,
.photo-no-banner img {
    width: 20vh;
    height: 20vh;
}

#name {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--secondary-color);
}

#description,
#location,
#birthday,
#phone,
#mail {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.modal {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

#modal-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: .75rem;
    color: var(--secondary-color);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #1f2833;
    padding: 1rem;
    border-radius: 1rem;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close {
    color: #aaa;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.edit {
    margin: 0 1rem;
    color: var(--secondary-color);
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1rem;
    padding: .35rem .5rem;
    border: 2px solid var(--secondary-color);
    border-radius: 1.5rem;
}

.more-info {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--secondary-color);
    padding: .35rem .5rem;
    border: 2px solid var(--secondary-color);
    border-radius: 1.5rem;
    font-size: 1rem;
}

.more-info:hover,
.edit:hover {
    color: black;
    cursor: pointer;
    background-color: var(--secondary-color);
}