<h1 class="section-title">Hard Skills & Soft Skills</h1>
<div class="skill-container">
    <circle-progress [percent]="80" [title]="'Typescript'" [subtitle]="'sadasd'"></circle-progress>
    <circle-progress [percent]="80" [title]="'Javascript'" [subtitle]="'sadasd'"></circle-progress>
    <circle-progress [percent]="80" [title]="'Angular'" [subtitle]="'sadasd'"></circle-progress>
    <circle-progress [percent]="80" [title]="'.NET'" [subtitle]="'sadasd'"></circle-progress>
    <circle-progress [percent]="80" [title]="'SQL'" [subtitle]="'sadasd'"></circle-progress>
    <circle-progress [percent]="80" [title]="'GIT'" [subtitle]="'sadasd'"></circle-progress>
    <circle-progress [percent]="80" [title]="'HTML'" [subtitle]="'sadasd'"></circle-progress>
    <circle-progress [percent]="80" [title]="'CSS'" [subtitle]="'sadasd'"></circle-progress>
</div>