:host {
    box-shadow: 0 0 .7rem var(--secondary-color);
    margin-top: 2rem;
    width: 70vw;
    min-height: 20vh;
    border-radius: 1.5rem;
    overflow: hidden;
    color: var(--font-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.experience-container {
    margin: .5rem 3rem 1rem 3rem;
}

.job-position {
    color: var(--secondary-off-color);
    margin-bottom: .5rem;
    font-weight: bold;
}

.job-type {
    margin-bottom: .5rem;
}

.job-description {
    text-align: justify;
    margin-bottom: .3rem;
}

.job-time,
.job-location {
    color: #858585;
}