:host {
    margin-top: 1rem;
    width: 70vw;
    min-height: 10vh;
    border-radius: 1rem;
    overflow-x: hidden;
    box-shadow: 2px 3px .7rem black;
    color: #c5c6c7;
}

.section-title {
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-top: .5rem;
    color: #66FCF1;
    font-weight: bold;
}

.experience-container {
    margin: .5rem 3rem 1rem 3rem;
}

.job-position {
    color: #45A29E;
    font-size: 1.4rem;
    margin-bottom: .5rem;
    font-weight: bold;
}

.job-type {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.job-description {
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: .3rem;
}

.job-time,
.job-location {
    font-size: 1.2rem;
    color: #858585;
}