:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}