<p class="section-title">Subir nueva imagen:</p>
<button class="custom-input-file large-button">
    <input class="input-file" type="file" (change)="loadImg($event)" accept="image/*">
    <p>Subir Imagen</p>
</button>

<p class="section-title" *ngIf="!loading && photoLoaded">Previsualizacion de la imagen:</p>

<div *ngIf=" !loading && photoLoaded" [ngClass]="type==='photo'?'photo':'banner'">
    <img [src]="photoString">
</div>

<button *ngIf="isPhotoSelected" (click)="saveImg()" class="large-button">Guardar imagen</button>

<p *ngIf="error" class="error-message">{{errorMessage}}</p>

<button class="large-button go-back" [routerLink]="['/'+username]">Volver</button>