<p class="section-title">Experiencia - Editar</p>

<form #f="ngForm" (ngSubmit)="save()" *ngIf="!loadingExperience && !loadingDescription">
    <div>
        <label for="position">Posicion</label>
        <input name="position" type="text" placeholder="Posicion" maxlength="100" [(ngModel)]="experience.position"
            required>
        <p *ngIf="experience.position.length>80">{{experience.position.length}}/100</p>
    </div>
    <div>
        <label for="type">Tipo</label>
        <select name="type" [(ngModel)]="experience.type" required>
            <option value="Full-Time">Full-Time</option>
            <option value="Part-Time">Part-Time</option>
        </select>
    </div>
    <div>
        <label for="company_name">Empresa</label>
        <input name="company_name" type="text" placeholder="Empresa" maxlength="50"
            [(ngModel)]="experience.company_name" required>
        <p *ngIf="experience.company_name.length>40">{{experience.company_name.length}}/50</p>
    </div>
    <div>
        <label for="location">Ciudad de trabajo</label>
        <input name="location" type="text" placeholder="Ciudad de trabajo" maxlength="100"
            [(ngModel)]="experience.location" required>
        <p *ngIf="experience.location.length>80">{{experience.location.length}}/100</p>
    </div>
    <div>
        <label for="isActual">Actual</label>
        <input name="isActual" type="checkbox" placeholder="Actual" [(ngModel)]="experience.isActual">
    </div>
    <div>
        <label for="startMonth startYear">Fecha de Inicio</label>
        <div class="date-inputs">
            <input type="number" max="12" min="1" name="startMonth" id="startMonth" [(ngModel)]="startMonth"
                placeholder="Mes" required>
            <input type="number" [max]="actualYear" min="1900" name="startYear" id="startYear" [(ngModel)]="startYear"
                placeholder="Anio" required>
        </div>
    </div>
    <div *ngIf="!experience.isActual">
        <label for="endMonth endYear">Fecha de Fin</label>
        <div class="date-inputs">
            <input type="number" max="12" min="1" name="endMonth" id="endMonth" [(ngModel)]="endMonth" placeholder="Mes"
                required>
            <input type="number" [max]="actualYear" min="1900" name="endYear" id="endYear" [(ngModel)]="endYear"
                placeholder="Anio" required>
        </div>
    </div>
    <div>
        <label for="description">Descripcion</label>
        <textarea name="description" type="text" maxlength="255" placeholder="Descripcion"
            [(ngModel)]="description.description"></textarea>
        <p *ngIf="description.description.length>200">{{description.description.length}}/255</p>
    </div>

    <p class="error-message" *ngIf="!loadingNewData && isErrorLoadingNewData">{{errorMessageLoadingNewData}}</p>

    <button *ngIf="!loadingNewData" class="large-button" type="submit" [disabled]="!f.valid"><i
            class="bi bi-save"></i>&nbsp;Guardar</button>

    <span *ngIf="loadingNewData" class="loader"></span>
</form>

<span *ngIf="loadingExperience || loadingDescription" class="loader"></span>

<button type="button" [routerLink]="['/'+username]" class="large-button go-back"><i
        class="bi bi-box-arrow-left"></i>&nbsp;VOLVER</button>