:host {
    width: 100%;
    min-height: 3.5rem;
    background-color: #0b0c10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#logo-argentina-programa {
    margin-left: .5rem;
    width: 5rem;
    height: 3rem;
    cursor: pointer;
}

.social-media-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-media a {
    text-decoration: none;
    color: grey;
    font-size: 1.2rem;
    margin: 0 1rem;
}

.social-media a {
    color: #66FCF1;
}

.social-media a:hover {
    color: #66fcf29c;
}

.edit{
    margin: 0 1rem;
    color: #66FCF1;
}

.edit:hover{
    color: #66fcf29c;
}

#login {
    color: #66FCF1;
    padding-left: .3rem;
    padding-right: .3rem;
    background-color: #1F2833;
    border: 2px solid #66FCF1;
    border-radius: 1.5rem;
    font-size: 1.1rem;
    margin-right: 1rem;
}

#login:hover {
    color: #1F2833;
    background-color: #66FCF1;
    cursor: pointer;
}