:host {
    width: 100%;
    min-height: 3.5rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#logo {
    margin-left: .5rem;
    width: 5rem;
    height: 3rem;
    cursor: pointer;
}

.social-media-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 1rem;
}

a {
    color: var(--secondary-color);
}

a:hover {
    color: var(--secondary-off-color);
}

.edit{
    margin: 0 1rem;
    color: var(--secondary-color);
}

.edit:hover{
    color: #66fcf29c;
}