<img src="../../../assets/images/Logo Arg Programa.png" id="logo-argentina-programa">

<span *ngIf="loading" class="loader"></span>

<div *ngIf="!loading && socialMedia.length!=0" class="social-media-container">
    <div *ngFor="let social of socialMedia" class="social-media">
        <a [href]="social.link" target="_blank"><i [ngClass]="social.social_media.bootstrap_class"></i></a>
    </div>
    <a [routerLink]="['redes-sociales/editar/'+personId]" class="edit"><i class="bi bi-pencil-square"></i></a>
</div>

<button href="#" id="login">Login <i class="bi bi-box-arrow-in-right"></i></button>