<img src="../../../assets/images/Logo Arg Programa.png" id="logo-argentina-programa">

<span *ngIf="loading" class="loader"></span>

<div *ngIf="!loading && socialMedia.length!=0" class="social-media-container">
    <div *ngFor="let social of socialMedia" class="social-media">
        <a [href]="social.link" target="_blank"><i [ngClass]="social.social_media.icon_class"></i></a>
    </div>
</div>
<a class="edit" *ngIf="isLogged && username===loggedUsername" [routerLink]="'./redes-sociales/editar'"><i class="bi bi-pencil-square"></i></a>

<button routerLink="/login" *ngIf="!isLogged" id="login">Login <i class="bi bi-box-arrow-in-right"></i></button>
<button routerLink="/logout" *ngIf="isLogged" id="login">Logout <i class="bi bi-box-arrow-in-right"></i></button>