<img src="../../../assets/images/Logo Arg Programa.png" id="logo" routerLink="/">

<span *ngIf="loading" class="loader"></span>

<div *ngIf="!loading && !isError" class="social-media-container">
    <div *ngFor="let social of socialMedia" class="social-media">
        <a [href]="social.link" target="_blank"><i [ngClass]="social.social_media.icon_class"></i></a>
    </div>
    <a class="edit" *ngIf="isLogged && username===loggedUsername" [routerLink]="'./social-media/list'"><i
            class="bi bi-pencil-square"></i></a>
</div>

<p *ngIf="!loading && isError" class="server-error">{{errorMessage}}</p>

<button [routerLink]="'/login/redirecTo/'+username" *ngIf="!isLogged" class="large-button">Login&nbsp;<i
        class="bi bi-box-arrow-in-right"></i></button>
<button *ngIf="isLogged" class="large-button" (click)="onLogout()">Logout&nbsp;<i
        class="bi bi-box-arrow-in-right"></i></button>