<p *ngIf="!loading" class="section-title">Hard Skills & Soft Skills</p>

<div class="skill-container" *ngIf="!loading && !isError">
    <circle-progress *ngFor="let skill of skills" [percent]="skill.percentage" [title]="skill.skill.name"
        [subtitle]="skill.skill.type"></circle-progress>
</div>

<span *ngIf="loading" class="loader"></span>

<p *ngIf="!loading && isError" class="server-error">{{errorMessage}}</p>

<button *ngIf="isLogged && username===loggedUsername" class="circular-button" [routerLink]="'./skill/list'"><i
        class="bi bi-pencil-square"></i></button>