:host {
    box-shadow: 0 0 .7rem var(--secondary-color);
    margin-top: 2rem;
    width: 70vw;
    min-height: 10vh;
    border: 1px var(--secondary-color) solid;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.skill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: .5rem 3rem 1rem 3rem;
}