<p class="section-title">USUARIOS</p>
<p class="server-error" *ngIf="error">Error en el servidor. Intenta de nuevo mas tarde 🙈</p>
<span *ngIf="loading" class="loader"></span>

<div *ngFor="let user of users" class="users-container">
    <a [style.color]="user.username==='tiagoramirez'?'var(--error-color)':null" class="user"
        [routerLink]="'/'+user.username"><i class="bi bi-caret-right"></i> {{user.full_name}}<i
            class="bi bi-caret-left"></i></a>
</div>

<button routerLink="/register" *ngIf="!isLogged" class="large-button register">Crear cuenta</button>

<button *ngIf="!isLogged" routerLink="/login" class="large-button login-logout">Login</button>
<button *ngIf="isLogged" (click)="onLogout()" class="large-button login-logout">Logout</button>