:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    min-height: 100vh;
}

.users-container {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.user {
    color: var(--secondary-color);
    font-size: 2rem;
    text-decoration: none;
    margin: 1rem 0;
}

.user:hover {
    color: var(--secondary-off-color);
}

.register,
.login-logout {
    position: fixed;
    top: 1rem;
}

.register {
    right: 1rem;
}

.login-logout {
    left: 1rem;
}