<app-header *ngIf="!loading && !error" class="animate__animated animate__fadeIn"></app-header>
<app-profile *ngIf="!loading && !error" class="animate__animated animate__zoomInDown" [profiles]="profiles">
</app-profile>
<app-about-me *ngIf="!loading && !error" class="animate__animated animate__zoomInDown" [profiles]="profiles">
</app-about-me>
<app-experience *ngIf="!loading && !error" class="animate__animated animate__zoomInDown" [profiles]="profiles">
</app-experience>
<app-education *ngIf="!loading && !error" class="animate__animated animate__zoomInDown" [profiles]="profiles">
</app-education>
<app-project *ngIf="!loading && !error" class="animate__animated animate__zoomInDown" [profiles]="profiles">
</app-project>
<app-skill *ngIf="!loading && !error" class="animate__animated animate__zoomInDown"></app-skill>

<span *ngIf="loading" class="loader"></span>