:host {
    width: 80vw;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.config,
form {
    border-radius: .75rem;
    min-width: 70%;
    padding: 1rem;
    box-shadow: 0 0 .7rem var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.config p {
    color: var(--secondary-color);
    margin-right: 1rem;
    text-align: left;
    white-space: nowrap;
}

.config div {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 .7rem var(--secondary-color);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem 0;
    padding: .5rem 0;
    border-radius: 1rem;
    width: 100%;
}

form label{
    color: var(--secondary-color);
    white-space: nowrap;
    margin-bottom: .5rem;
    font-size: var(--font-size-p);
}

form input {
    background-color: #1f2833;
    border: 1px var(--secondary-color) solid;
    border-radius: .75rem;
    height: 1.5rem;
    text-align: center;
    color: var(--secondary-color);
    width: 50%;
    font-size: 1rem;
    padding: .5rem 1rem;
}

input[type="checkbox"] {
    appearance: none;
    height: 2rem;
    width: 2rem;
    border: 2px #808080 solid;
    border-radius: .5rem;
    cursor: pointer;
    animation-name: unchecked;
    animation-duration: .2s;
}

input[type="checkbox"]:checked {
    transform: rotate(45deg);
    border-color: var(--secondary-color);
    border-radius: 0;
    border-left: 0;
    border-top: 0;
    width: 1rem;
    margin-right: .5rem;
    animation-name: check;
    animation-duration: .2s;
}

@keyframes check {
    0% {
        border-color: #808080;
        transform: rotate(0deg);
    }

    100% {
        border-color: var(--secondary-color);
        transform: rotate(45deg);
    }
}

@keyframes unchecked {
    0% {
        border-color: var(--secondary-color);
        transform: rotate(45deg);
    }

    100% {
        border-color: #808080;
        transform: rotate(0deg);
    }
}