<h1 id="title">CONFIGURACION PERFIL</h1>

<div class="config" *ngIf="!loadingConfig">
    <div class="show_photo">
        <p>Mostrar foto de perfil: </p>
        <span *ngIf="loadingNewConfig" class="loader"></span>
        <input type="checkbox" [(ngModel)]="config.show_photo" (change)="saveConfig()">
    </div>
    <div class="show_banner">
        <p>Mostrar banner: </p>
        <span *ngIf="loadingNewConfig" class="loader"></span>
        <input type="checkbox" [(ngModel)]="config.show_banner" (change)="saveConfig()">
    </div>
    <div class="show_location">
        <p>Mostrar ubicacion: </p>
        <span *ngIf="loadingNewConfig" class="loader"></span>
        <input type="checkbox" [(ngModel)]="config.show_location" (change)="saveConfig()">
    </div>
    <div class="show_phone">
        <p>Mostrar telefono: </p>
        <span *ngIf="loadingNewConfig" class="loader"></span>
        <input type="checkbox" [(ngModel)]="config.show_phone" (change)="saveConfig()">
    </div>
</div>

<h2 id="title">DATOS PERFIL</h2>

<div class="inputs" *ngIf="!loadingProfile && !loadingConfig">
    <div class="phone" *ngIf="config.show_phone">
        <p>Telefono: </p>
        <input type="number" placeholder="Telefono" [(ngModel)]="profile.phone">
    </div>
    <div class="description">
        <p>Descripcion: * </p>
        <input type="text" placeholder="Descripcion" [(ngModel)]="profile.description">
    </div>
    <div class="location_state" *ngIf="config.show_location">
        <p>Estado/Provincia: </p>
        <input type="text" placeholder="Estado/Provincia" [(ngModel)]="profile.location_state">
    </div>
    <div class="location_country" *ngIf="config.show_location">
        <p>Pais: </p>
        <input type="text" placeholder="Pais" [(ngModel)]="profile.location_country">
    </div>
    <div class="photo" *ngIf="config.show_photo">
        <p>Foto de perfil: </p>
        <a [routerLink]="['./foto']" class="loadFile">Cargar nueva imagen</a>
    </div>
    <div class="banner" *ngIf="config.show_banner">
        <p>Fondo: </p>
        <a [routerLink]="['./fondo']" class="loadFile">Cargar nueva imagen</a>
    </div>
    <button class="save" (click)="saveProfile()"><i class="bi bi-save"></i> Guardar</button>
</div>

<a [routerLink]="['']" class="go-back"><i class="bi bi-box-arrow-left"></i>&nbsp;VOLVER</a>

<span *ngIf="loadingProfile || loadingConfig" class="loader"></span>