<p class="section-title">CONFIGURACION PERFIL</p>

<form *ngIf="!loadingProfile && !loadingConfig">
    <div class="show_photo">
        <label for="show_photo">Mostrar foto de perfil</label>
        <span *ngIf="loadingNewConfig" class="loader"></span>
        <input type="checkbox" name="show_photo" [(ngModel)]="config.show_photo" (change)="saveConfig()">
    </div>
    <div class="show_banner">
        <label for="show_banner">Mostrar banner</label>
        <span *ngIf="loadingNewConfig" class="loader"></span>
        <input type="checkbox" name="show_banner" [(ngModel)]="config.show_banner" (change)="saveConfig()">
    </div>
    <div class="show_location">
        <label for="show_location">Mostrar ubicacion</label>
        <span *ngIf="loadingNewConfig" class="loader"></span>
        <input type="checkbox" name="show_location" [(ngModel)]="config.show_location" (change)="saveConfig()">
    </div>
    <div class="show_phone">
        <label for="show_phone">Mostrar telefono</label>
        <span *ngIf="loadingNewConfig" class="loader"></span>
        <input type="checkbox" name="show_phone" [(ngModel)]="config.show_phone" (change)="saveConfig()">
    </div>
</form>

<p class="section-title">DATOS PERFIL</p>

<form #f="ngForm" novalidate *ngIf="!loadingProfile && !loadingConfig" (ngSubmit)="saveProfile()">
    <div class="phone" *ngIf="config.show_phone">
        <label for="phone">Telefono</label>
        <input name="phone" type="text" placeholder="Telefono" [(ngModel)]="profile.phone" required>
    </div>
    <div class="description">
        <label for="description">Descripcion</label>
        <input type="text" name="description" placeholder="Descripcion" [(ngModel)]="profile.description" required>
    </div>
    <div class="location_state" *ngIf="config.show_location">
        <label for="location_state">Estado/Provincia</label>
        <input type="text" name="location_state" placeholder="Estado/Provincia" [(ngModel)]="profile.location_state"
            required>
    </div>
    <div class="location_country" *ngIf="config.show_location">
        <label for="location_country">Pais</label>
        <input type="text" name="location_country" placeholder="Pais" [(ngModel)]="profile.location_country" required>
    </div>
    <div class="photo" *ngIf="config.show_photo">
        <label>Foto de perfil</label>
        <button type="button" routerLink="../img/photo" class="large-button">Cargar nueva imagen</button>
    </div>
    <div class="banner" *ngIf="config.show_banner">
        <label>Fondo</label>
        <button type="button" routerLink="../img/banner" class="large-button">Cargar nueva imagen</button>
    </div>

    <span *ngIf="loadingNewProfile" class="loader"></span>
    <button type="submit" *ngIf="!loadingNewProfile" class="large-button" [disabled]="!f.valid"><i
            class="bi bi-save"></i>&nbsp;Guardar</button>
</form>

<button [routerLink]="['/'+username]" class="large-button go-back"><i
        class="bi bi-box-arrow-left"></i>&nbsp;VOLVER</button>

<span *ngIf="loadingProfile || loadingConfig" class="loader"></span>