<p class="section-title">Proyectos</p>
<div *ngFor="let project of projects" class="section-data-container">
    <p class="project-name">{{project.name}}</p>
    <p class="project-description">{{project.description}}</p>
    <p class="project-link">{{project.link}}</p>
    <div class="actions" *ngIf="isLogged && username===loggedUsername">
        <button [routerLink]="['project/delete/'+project.id]" class="circular-button delete"><i
                class="bi bi-trash3"></i></button>

        <button [routerLink]="['project/edit/'+project.id+'/'+profile.id]" class="circular-button edit"><i
                class="bi bi-pencil-square"></i></button>
    </div>
</div>

<button [routerLink]="['project/add/'+profile.id]" *ngIf="isLogged && username===loggedUsername"
    class="circular-button add"><i class="bi bi-plus-circle"></i></button>