<p class="section-title">Skill - Crear</p>

<form #f="ngForm" (ngSubmit)="onSubmit()" *ngIf="!loading">

    <div class="skill-form">
        <label for="skill">Skill</label>
        <select name="skill" [(ngModel)]="user_skill.id_skill" required>
            <option *ngFor="let skill of all_skills" [value]="skill.id">{{skill.name}} - {{skill.type}}</option>
        </select>
    </div>

    <div class="percentage-form">
        <label for="percentage">Porcentaje</label>
        <input name="percentage" type="number" [min]="0" [(ngModel)]="user_skill.percentage" required>
    </div>

    <button class="large-button" type="submit" *ngIf="!loadingSubmit" [disabled]="!f.valid"><i
            class="bi bi-save"></i>&nbsp;Guardar</button>

    <span *ngIf="loadingSubmit" class="loader"></span>
</form>

<span *ngIf="loading" class="loader"></span>


<button type="button" [routerLink]="['/'+username+'/skill/list']" class="large-button go-back"><i
        class="bi bi-box-arrow-left"></i>&nbsp;VOLVER</button>