/* You can add global styles to this file, and also import other style files */
:root {
    --background-color: #0B0C10;
    --primary-color: #1f2833;
    --secondary-color: #66FCF1;
    --secondary-off-color: #45A29E;
    --font-color: #C5C6C7;
    --error-color: #E11D62;
    --font-size-p: 1.3rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    background-color: var(--background-color);
    max-width: 100vw;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #0D2345;
}

.loader {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: var(--secondary-color) var(--secondary-color) transparent transparent;
    box-sizing: border-box;
    margin: .5rem;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FFF #FFF;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 1vh;
    height: 1vh;
    border-color: var(--secondary-color) var(--secondary-color) transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

p {
    color: var(--font-color);
    font-size: var(--font-size-p);
}

.large-button,
.circular-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px var(--secondary-color) solid;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: .5rem;
    cursor: pointer;
}

.large-button {
    width: auto;
    height: 2rem;
    font-size: 1.25rem;
    border-radius: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.large-button:disabled {
    color: var(--secondary-off-color);
    cursor: not-allowed;
    text-decoration: line-through;
}

.circular-button {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 50%;
}

.large-button:hover:enabled,
.circular-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
    animation: button .5s ease;
}

@keyframes button {
    0% {
        color: var(--secondary-color);
        background-color: var(--primary-color);
        border-color: var(--secondary-color);
    }

    100% {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border-color: var(--primary-color);
    }
}

.error-message,
.server-error {
    white-space: wrap;
    text-align: center;
    font-weight: bold;
    color: var(--error-color);
    margin: .5rem;
}

.error-message {
    font-size: 1.3em;
}

.server-error {
    font-size: 2rem;
}

.section-title {
    color: var(--secondary-color);
    font-size: 2.5rem;
    margin: .5rem;
    text-align: center;
}

.go-back {
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.section-data-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    width: 100%;
}