<h1 class="section-title">Experiencia</h1>
<div class="experience-container">
    <h2 class="job-position">Analista Programador</h2>
    <h3 class="job-type">Accusys - Full Time</h3>
    <h3 class="job-description">Mis responsabilidades eran: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
    <h3 class="job-time">Abril 2022 - Actualidad [4 meses]</h3>
    <h3 class="job-location">Capital Federal, Argentina</h3>
</div>