<p *ngIf="serverError" class="server-error">Error en el servidor</p>

<h1 class="section-title" *ngIf="!serverError && !loading">CONFIGURACION PERFIL</h1>

<div class="config" *ngIf="!serverError && !loading">
    <div class="show_location">
        <p>Mostrar ubicacion</p>
        <input type="checkbox" [(ngModel)]="configuration.show_location">
    </div>
    <div class="show_phone">
        <p>Mostrar telefono</p>
        <input type="checkbox" [(ngModel)]="configuration.show_phone">
    </div>
</div>


<h2 class="section-title" *ngIf="!serverError && !loading">DATOS PERFIL</h2>

<div class="inputs" *ngIf="!serverError && !loading">
    <div class="description">
        <p>Descripcion</p>
        <input type="text" placeholder="Descripcion" [(ngModel)]="profile.description">
    </div>
    <div class="location_state" *ngIf="configuration.show_location">
        <p>Estado/Provincia</p>
        <input type="text" placeholder="Estado/Provincia" [(ngModel)]="profile.location_state">
    </div>
    <div class="location_country" *ngIf="configuration.show_location">
        <p>Pais</p>
        <input type="text" placeholder="Pais" [(ngModel)]="profile.location_country">
    </div>
    <div class="phone" *ngIf="configuration.show_phone">
        <p>Telefono</p>
        <input type="text" placeholder="Telefono" [(ngModel)]="profile.phone">
    </div>
</div>

<p *ngIf="submitError" class="error-message">{{errorMessage}}</p>

<button *ngIf="!loadingSubmit && !loading && !serverError" class="large-button" (click)="onSave()"><i
        class="bi bi-save"></i> Guardar</button>

<span *ngIf="loading || loadingSubmit" class="loader"></span>